<section class="background-img">
  <div class="filter"></div>
  <h3>發掘美景，尋找秘境<br>瀏覽台灣各地景點加入願望清單</h3>
  <form action="/attractions" class="select">
    <div class="input-group">
      <select class="form-select" id="city" name="city">
        <option value="">請選擇城市</option>
        <option value="臺北" {{#ifCond city "臺北" }}selected{{/ifCond}}>臺北</option>
        <option value="新北" {{#ifCond city "新北" }}selected{{/ifCond}}>新北</option>
        <option value="基隆" {{#ifCond city "基隆" }}selected{{/ifCond}}>基隆</option>
        <option value="宜蘭" {{#ifCond city "宜蘭" }}selected{{/ifCond}}>宜蘭</option>
        <option value="桃園" {{#ifCond city "桃園" }}selected{{/ifCond}}>桃園</option>
        <option value="新竹" {{#ifCond city "新竹" }}selected{{/ifCond}}>新竹</option>
        <option value="苗栗" {{#ifCond city "苗栗" }}selected{{/ifCond}}>苗栗</option>
        <option value="臺中" {{#ifCond city "臺中" }}selected{{/ifCond}}>臺中</option>
        <option value="彰化" {{#ifCond city "彰化" }}selected{{/ifCond}}>彰化</option>
        <option value="南投" {{#ifCond city "南投" }}selected{{/ifCond}}>南投</option>
        <option value="雲林" {{#ifCond city "雲林" }}selected{{/ifCond}}>雲林</option>
        <option value="嘉義" {{#ifCond city "嘉義" }}selected{{/ifCond}}>嘉義</option>
        <option value="臺南" {{#ifCond city "臺南" }}selected{{/ifCond}}>臺南</option>
        <option value="高雄" {{#ifCond city "高雄" }}selected{{/ifCond}}>高雄</option>
        <option value="屏東" {{#ifCond city "屏東" }}selected{{/ifCond}}>屏東</option>
        <option value="澎湖" {{#ifCond city "澎湖" }}selected{{/ifCond}}>澎湖</option>
        <option value="花蓮" {{#ifCond city "花蓮" }}selected{{/ifCond}}>花蓮</option>
        <option value="臺東" {{#ifCond city "臺東" }}selected{{/ifCond}}>臺東</option>
        <option value="金門" {{#ifCond city "金門" }}selected{{/ifCond}}>金門</option>
        <option value="連江" {{#ifCond city "連江" }}selected{{/ifCond}}>連江</option>
      </select>
    </div>
  </form>
</section>
{{> messages}}
<section>
  <div class="attractions-header">
    <h3>景點</h3>
    <form action="/attractions" class="search">
      <div class="input-group mb-2 mb-sm-0 mr-sm-2 search">
        <input type="text" name="keyword" class="form-control" placeholder="請輸入景點" aria-label="Attraction Name"
          value="{{ keyword }}" aria-describedby="search-button">
        <button class="btn btn-major" type="submit" id="search-button" style="background-color: rgb(32, 195, 198)"><i
            class="fas fa-search" style="color: white"></i></button>
      </div>
    </form>
  </div>

  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row row-cols-sm-3">

          {{#each attractions}}
          <div class="col">
            <div class="card mb-2">
              <a href="https://media.taiwan.net.tw/zh-tw/portal/poi/details/{{this.number}}" target="_blank">
                <img class="card-img-top img" src="{{ this.image }}" alt="{{ this.name }}">
              </a>

              <div class="card-body p-3">
                <a href="https://media.taiwan.net.tw/zh-tw/portal/poi/details/{{this.number}}" target="_blank">
                  <h6 class="card-title mb-1">{{ this.name }}</h6>

                  <div class="address mb-1">
                    <i class="fa-solid fa-location-dot" style="color: rgb(32, 195, 198)"></i> {{ this.address }}
                  </div>
                </a>

                <span class="badge rounded-pill bg-info">
                  {{ this.city }}
                </span>
              </div>

              <div class="card-footer d-flex justify-content-end flex-wrap">
                {{#if this.isFavorited}}
                <form action="/favorites/{{this.id}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger btn-sm m-1" style="color: white;">從清單移除</button>
                </form>
                {{else}}
                <form action="/favorites/{{this.id}}" method="POST">
                  <button type="submit" class="btn btn-success btn-sm m-1">加入清單</button>
                </form>
                {{/if}}
              </div>

            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</section>

<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination">
    <div class="pagination">
      <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
        <a class="page-link" href="/attractions?page={{pagination.prev}}&city={{city}}&keyword={{keyword}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#if haveEllipsisFront}}
        <li class="page-item"><a class="page-link">...</a></li>
      {{/if}}

      {{#each pagination.nearPages}}
        {{#ifCond this ../pagination.currentPage}}
          <li class="page-item active"><a class="page-link" href="#">{{../this}}</a></li>
        {{else}}
          <li class="page-item">
            <a class="page-link" href="/attractions?page={{../this}}&city={{../../city}}&keyword={{../../keyword}}">{{../this}}</a>
          </li>
        {{/ifCond}}
      {{/each}}

      {{#if haveEllipsisBack}}
        <li class="page-item"><a class="page-link">...</a></li>
      {{/if}}
      <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
        <a class="page-link" href="/attractions?page={{pagination.next}}&city={{city}}&keyword={{keyword}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </div>
  </ul>
</nav>

<script>
  // 輪播首頁圖片
  setInterval(() => {
    let topBackground = document.querySelector("section.background-img")
    if (topBackground.style.backgroundImage === 'url("/images/台北101.jpg")') {
      topBackground.style.backgroundImage = 'url("/images/阿里山.jpg")'
    } else if (topBackground.style.backgroundImage === 'url("/images/阿里山.jpg")') {
      topBackground.style.backgroundImage = 'url("/images/清水斷崖.jpg")'
    } else {
      topBackground.style.backgroundImage = 'url("/images/台北101.jpg")'
    }
  }, 3000)

  // 當下拉式選單改變時，送出表單
  const citySelect = document.querySelector('#city')
  const filter = document.querySelector('.select')
  citySelect.addEventListener('change', event => {
    filter.submit()
  })
</script>